<html>
<head>
    <title>Website</title>
<style>
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
 
body{
    text-align: center;    
}
h1{
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    color: #FF0000;
    font-size: 2.5em;
}
 
</style>
 
</head>
<body>
    <div class="block1">
    <h1>Hello Girls Who Code!</h1>
      <h2>The Tempature in Chicago is: </h2>
      <p>
         65 degrees and Sunny in Feburary!
      </p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfctQdAqFFxFl5shw2jZFy5VBC3HTE4AsFTLAZD8hO1iAbF3fKz7QFCg">
    </div>
</body>
</html>